Active aliases for the current repository (including user-wide and global
aliases if not overridden):

foo bar = bar
foo = sigh
something different = pull --local
pull -a = pull --all
pull --from http://www.example.com/ = pfe

